@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'maplibre-gl/dist/maplibre-gl.css';

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}